.day-one-container {
  background-color: #11151b;
  height: 100vh;
}
.day-one-container .main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: blanchedalmond;
  height: calc(100% - 10dvh);
  overflow: hidden;
}
.day-one-container .main-container .stats {
  width: 20%;
  background-color: #11151b;
}
.day-one-container .main-container .game-play {
  width: 80%;
  background-color: #11151b;
}
.day-one-container .main-container .game-play .img-container {
  width: 100%;
  height: 70%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.day-one-container .main-container .game-play .actions {
  width: 100%;
  height: 30%;

  background-color: #11151b;
  border: solid rgb(151, 152, 114) 1px;
  border-radius: 10px;
}
